# Chargement du jeu de données

Ce papier utilise les données issues de <a href = "https://www.emploi-store-dev.fr/portail-developpeur-cms/home/catalogue-des-api/documentation-des-api/api/api-offres-demploi-v2.html">l'API Offres Emploi V2 </a> disponible sur le site de pôle emploi

In [99]:
from offres_emploi import Api
import pandas as pd
from offres_emploi.utils import dt_to_str_iso
from datetime import datetime 
from dateutil.relativedelta import relativedelta

In [100]:
client = Api(client_id="PAR_projetpythonensaeparis_fa0da8af27775fc0f909f013e943743fa1efdc9fd866d9ff0b032e31889cdde0", 
             client_secret="2e3a71554180da56e6495f5fa5e8d1fd3ac3bd522d5538dd5c993993b29594c0")

In [101]:
client

In [102]:
def fcrecup(i,j,c=client):
    start_dt = datetime(2019,6,1)+relativedelta(months=j)
    end_dt = datetime(2019,6, 1)+relativedelta(months=j+1)
    params = {
    'Range': str(i)+'-'+str(i+149),
    'minCreationDate': dt_to_str_iso(start_dt),
    'maxCreationDate': dt_to_str_iso(end_dt)
    }
    search_covid = c.search(params=params)
    results =  search_covid['resultats']
    results_df = pd.DataFrame(results)
    df=results_df [['id', 'intitule', 'description','dateCreation','typeContrat','experienceExige','salaire','nombrePostes','qualificationCode','secteurActivite','secteurActiviteLibelle']]
    return df

In [103]:
df=fcrecup(0,0)
df=fcrecup(0,0)
for i in range(150,1000,150):
    for j in range(1,17,1):
        df=pd.concat([df,fcrecup(i,j)])
                
df

Making request with params {'Range': '0-149', 'minCreationDate': '2019-06-01T00:00:00Z', 'maxCreationDate': '2019-07-01T00:00:00Z'}
Token has not been requested yet. Requesting token
Now requesting token
Making request with params {'Range': '0-149', 'minCreationDate': '2019-06-01T00:00:00Z', 'maxCreationDate': '2019-07-01T00:00:00Z'}
Making request with params {'Range': '150-299', 'minCreationDate': '2019-07-01T00:00:00Z', 'maxCreationDate': '2019-08-01T00:00:00Z'}
Making request with params {'Range': '150-299', 'minCreationDate': '2019-08-01T00:00:00Z', 'maxCreationDate': '2019-09-01T00:00:00Z'}
Making request with params {'Range': '150-299', 'minCreationDate': '2019-09-01T00:00:00Z', 'maxCreationDate': '2019-10-01T00:00:00Z'}
Making request with params {'Range': '150-299', 'minCreationDate': '2019-10-01T00:00:00Z', 'maxCreationDate': '2019-11-01T00:00:00Z'}
Making request with params {'Range': '150-299', 'minCreationDate': '2019-11-01T00:00:00Z', 'maxCreationDate': '2019-12-01T00:00:00Z'}
Making request with params {'Range': '150-299', 'minCreationDate': '2019-12-01T00:00:00Z', 'maxCreationDate': '2020-01-01T00:00:00Z'}
Making request with params {'Range': '150-299', 'minCreationDate': '2020-01-01T00:00:00Z', 'maxCreationDate': '2020-02-01T00:00:00Z'}
Making request with params {'Range': '150-299', 'minCreationDate': '2020-02-01T00:00:00Z', 'maxCreationDate': '2020-03-01T00:00:00Z'}
Making request with params {'Range': '150-299', 'minCreationDate': '2020-03-01T00:00:00Z', 'maxCreationDate': '2020-04-01T00:00:00Z'}
Making request with params {'Range': '150-299', 'minCreationDate': '2020-04-01T00:00:00Z', 'maxCreationDate': '2020-05-01T00:00:00Z'}
Making request with params {'Range': '150-299', 'minCreationDate': '2020-05-01T00:00:00Z', 'maxCreationDate': '2020-06-01T00:00:00Z'}
Making request with params {'Range': '150-299', 'minCreationDate': '2020-06-01T00:00:00Z', 'maxCreationDate': '2020-07-01T00:00:00Z'}
Making request with params {'Range': '150-299', 'minCreationDate': '2020-07-01T00:00:00Z', 'maxCreationDate': '2020-08-01T00:00:00Z'}
Making request with params {'Range': '150-299', 'minCreationDate': '2020-08-01T00:00:00Z', 'maxCreationDate': '2020-09-01T00:00:00Z'}
Making request with params {'Range': '150-299', 'minCreationDate': '2020-09-01T00:00:00Z', 'maxCreationDate': '2020-10-01T00:00:00Z'}
Making request with params {'Range': '150-299', 'minCreationDate': '2020-10-01T00:00:00Z', 'maxCreationDate': '2020-11-01T00:00:00Z'}
Making request with params {'Range': '300-449', 'minCreationDate': '2019-07-01T00:00:00Z', 'maxCreationDate': '2019-08-01T00:00:00Z'}
Making request with params {'Range': '300-449', 'minCreationDate': '2019-08-01T00:00:00Z', 'maxCreationDate': '2019-09-01T00:00:00Z'}
Making request with params {'Range': '300-449', 'minCreationDate': '2019-09-01T00:00:00Z', 'maxCreationDate': '2019-10-01T00:00:00Z'}
Making request with params {'Range': '300-449', 'minCreationDate': '2019-10-01T00:00:00Z', 'maxCreationDate': '2019-11-01T00:00:00Z'}
Making request with params {'Range': '300-449', 'minCreationDate': '2019-11-01T00:00:00Z', 'maxCreationDate': '2019-12-01T00:00:00Z'}
Making request with params {'Range': '300-449', 'minCreationDate': '2019-12-01T00:00:00Z', 'maxCreationDate': '2020-01-01T00:00:00Z'}
Making request with params {'Range': '300-449', 'minCreationDate': '2020-01-01T00:00:00Z', 'maxCreationDate': '2020-02-01T00:00:00Z'}
Making request with params {'Range': '300-449', 'minCreationDate': '2020-02-01T00:00:00Z', 'maxCreationDate': '2020-03-01T00:00:00Z'}
Making request with params {'Range': '300-449', 'minCreationDate': '2020-03-01T00:00:00Z', 'maxCreationDate': '2020-04-01T00:00:00Z'}
Making request with params {'Range': '300-449', 'minCreationDate': '2020-04-01T00:00:00Z', 'maxCreationDate': '2020-05-01T00:00:00Z'}
Making request with params {'Range': '300-449', 'minCreationDate': '2020-05-01T00:00:00Z', 'maxCreationDate': '2020-06-01T00:00:00Z'}
Making request with params {'Range': '300-449', 'minCreationDate': '2020-06-01T00:00:00Z', 'maxCreationDate': '2020-07-01T00:00:00Z'}
Making request with params {'Range': '300-449', 'minCreationDate': '2020-07-01T00:00:00Z', 'maxCreationDate': '2020-08-01T00:00:00Z'}
Making request with params {'Range': '300-449', 'minCreationDate': '2020-08-01T00:00:00Z', 'maxCreationDate': '2020-09-01T00:00:00Z'}
Making request with params {'Range': '300-449', 'minCreationDate': '2020-09-01T00:00:00Z', 'maxCreationDate': '2020-10-01T00:00:00Z'}
Making request with params {'Range': '300-449', 'minCreationDate': '2020-10-01T00:00:00Z', 'maxCreationDate': '2020-11-01T00:00:00Z'}
Making request with params {'Range': '450-599', 'minCreationDate': '2019-07-01T00:00:00Z', 'maxCreationDate': '2019-08-01T00:00:00Z'}
Making request with params {'Range': '450-599', 'minCreationDate': '2019-08-01T00:00:00Z', 'maxCreationDate': '2019-09-01T00:00:00Z'}
Making request with params {'Range': '450-599', 'minCreationDate': '2019-09-01T00:00:00Z', 'maxCreationDate': '2019-10-01T00:00:00Z'}
Making request with params {'Range': '450-599', 'minCreationDate': '2019-10-01T00:00:00Z', 'maxCreationDate': '2019-11-01T00:00:00Z'}
Making request with params {'Range': '450-599', 'minCreationDate': '2019-11-01T00:00:00Z', 'maxCreationDate': '2019-12-01T00:00:00Z'}
Making request with params {'Range': '450-599', 'minCreationDate': '2019-12-01T00:00:00Z', 'maxCreationDate': '2020-01-01T00:00:00Z'}
Making request with params {'Range': '450-599', 'minCreationDate': '2020-01-01T00:00:00Z', 'maxCreationDate': '2020-02-01T00:00:00Z'}
Making request with params {'Range': '450-599', 'minCreationDate': '2020-02-01T00:00:00Z', 'maxCreationDate': '2020-03-01T00:00:00Z'}
Making request with params {'Range': '450-599', 'minCreationDate': '2020-03-01T00:00:00Z', 'maxCreationDate': '2020-04-01T00:00:00Z'}
Making request with params {'Range': '450-599', 'minCreationDate': '2020-04-01T00:00:00Z', 'maxCreationDate': '2020-05-01T00:00:00Z'}
Making request with params {'Range': '450-599', 'minCreationDate': '2020-05-01T00:00:00Z', 'maxCreationDate': '2020-06-01T00:00:00Z'}
Making request with params {'Range': '450-599', 'minCreationDate': '2020-06-01T00:00:00Z', 'maxCreationDate': '2020-07-01T00:00:00Z'}
Making request with params {'Range': '450-599', 'minCreationDate': '2020-07-01T00:00:00Z', 'maxCreationDate': '2020-08-01T00:00:00Z'}
Making request with params {'Range': '450-599', 'minCreationDate': '2020-08-01T00:00:00Z', 'maxCreationDate': '2020-09-01T00:00:00Z'}
Making request with params {'Range': '450-599', 'minCreationDate': '2020-09-01T00:00:00Z', 'maxCreationDate': '2020-10-01T00:00:00Z'}
Making request with params {'Range': '450-599', 'minCreationDate': '2020-10-01T00:00:00Z', 'maxCreationDate': '2020-11-01T00:00:00Z'}
Making request with params {'Range': '600-749', 'minCreationDate': '2019-07-01T00:00:00Z', 'maxCreationDate': '2019-08-01T00:00:00Z'}
Making request with params {'Range': '600-749', 'minCreationDate': '2019-08-01T00:00:00Z', 'maxCreationDate': '2019-09-01T00:00:00Z'}
Making request with params {'Range': '600-749', 'minCreationDate': '2019-09-01T00:00:00Z', 'maxCreationDate': '2019-10-01T00:00:00Z'}
Making request with params {'Range': '600-749', 'minCreationDate': '2019-10-01T00:00:00Z', 'maxCreationDate': '2019-11-01T00:00:00Z'}
Making request with params {'Range': '600-749', 'minCreationDate': '2019-11-01T00:00:00Z', 'maxCreationDate': '2019-12-01T00:00:00Z'}
Making request with params {'Range': '600-749', 'minCreationDate': '2019-12-01T00:00:00Z', 'maxCreationDate': '2020-01-01T00:00:00Z'}
Making request with params {'Range': '600-749', 'minCreationDate': '2020-01-01T00:00:00Z', 'maxCreationDate': '2020-02-01T00:00:00Z'}
Making request with params {'Range': '600-749', 'minCreationDate': '2020-02-01T00:00:00Z', 'maxCreationDate': '2020-03-01T00:00:00Z'}
Making request with params {'Range': '600-749', 'minCreationDate': '2020-03-01T00:00:00Z', 'maxCreationDate': '2020-04-01T00:00:00Z'}
Making request with params {'Range': '600-749', 'minCreationDate': '2020-04-01T00:00:00Z', 'maxCreationDate': '2020-05-01T00:00:00Z'}
Making request with params {'Range': '600-749', 'minCreationDate': '2020-05-01T00:00:00Z', 'maxCreationDate': '2020-06-01T00:00:00Z'}

Making request with params {'Range': '600-749', 'minCreationDate': '2020-06-01T00:00:00Z', 'maxCreationDate': '2020-07-01T00:00:00Z'}
Making request with params {'Range': '600-749', 'minCreationDate': '2020-07-01T00:00:00Z', 'maxCreationDate': '2020-08-01T00:00:00Z'}
Making request with params {'Range': '600-749', 'minCreationDate': '2020-08-01T00:00:00Z', 'maxCreationDate': '2020-09-01T00:00:00Z'}
Making request with params {'Range': '600-749', 'minCreationDate': '2020-09-01T00:00:00Z', 'maxCreationDate': '2020-10-01T00:00:00Z'}
Making request with params {'Range': '600-749', 'minCreationDate': '2020-10-01T00:00:00Z', 'maxCreationDate': '2020-11-01T00:00:00Z'}
Making request with params {'Range': '750-899', 'minCreationDate': '2019-07-01T00:00:00Z', 'maxCreationDate': '2019-08-01T00:00:00Z'}
Making request with params {'Range': '750-899', 'minCreationDate': '2019-08-01T00:00:00Z', 'maxCreationDate': '2019-09-01T00:00:00Z'}
Making request with params {'Range': '750-899', 'minCreationDate': '2019-09-01T00:00:00Z', 'maxCreationDate': '2019-10-01T00:00:00Z'}
Making request with params {'Range': '750-899', 'minCreationDate': '2019-10-01T00:00:00Z', 'maxCreationDate': '2019-11-01T00:00:00Z'}
Making request with params {'Range': '750-899', 'minCreationDate': '2019-11-01T00:00:00Z', 'maxCreationDate': '2019-12-01T00:00:00Z'}
Making request with params {'Range': '750-899', 'minCreationDate': '2019-12-01T00:00:00Z', 'maxCreationDate': '2020-01-01T00:00:00Z'}
Making request with params {'Range': '750-899', 'minCreationDate': '2020-01-01T00:00:00Z', 'maxCreationDate': '2020-02-01T00:00:00Z'}
Making request with params {'Range': '750-899', 'minCreationDate': '2020-02-01T00:00:00Z', 'maxCreationDate': '2020-03-01T00:00:00Z'}
Making request with params {'Range': '750-899', 'minCreationDate': '2020-03-01T00:00:00Z', 'maxCreationDate': '2020-04-01T00:00:00Z'}
Making request with params {'Range': '750-899', 'minCreationDate': '2020-04-01T00:00:00Z', 'maxCreationDate': '2020-05-01T00:00:00Z'}
Making request with params {'Range': '750-899', 'minCreationDate': '2020-05-01T00:00:00Z', 'maxCreationDate': '2020-06-01T00:00:00Z'}
Making request with params {'Range': '750-899', 'minCreationDate': '2020-06-01T00:00:00Z', 'maxCreationDate': '2020-07-01T00:00:00Z'}
Making request with params {'Range': '750-899', 'minCreationDate': '2020-07-01T00:00:00Z', 'maxCreationDate': '2020-08-01T00:00:00Z'}
Making request with params {'Range': '750-899', 'minCreationDate': '2020-08-01T00:00:00Z', 'maxCreationDate': '2020-09-01T00:00:00Z'}
Making request with params {'Range': '750-899', 'minCreationDate': '2020-09-01T00:00:00Z', 'maxCreationDate': '2020-10-01T00:00:00Z'}
Making request with params {'Range': '750-899', 'minCreationDate': '2020-10-01T00:00:00Z', 'maxCreationDate': '2020-11-01T00:00:00Z'}
Making request with params {'Range': '900-1049', 'minCreationDate': '2019-07-01T00:00:00Z', 'maxCreationDate': '2019-08-01T00:00:00Z'}
Making request with params {'Range': '900-1049', 'minCreationDate': '2019-08-01T00:00:00Z', 'maxCreationDate': '2019-09-01T00:00:00Z'}
Making request with params {'Range': '900-1049', 'minCreationDate': '2019-09-01T00:00:00Z', 'maxCreationDate': '2019-10-01T00:00:00Z'}
Making request with params {'Range': '900-1049', 'minCreationDate': '2019-10-01T00:00:00Z', 'maxCreationDate': '2019-11-01T00:00:00Z'}
Making request with params {'Range': '900-1049', 'minCreationDate': '2019-11-01T00:00:00Z', 'maxCreationDate': '2019-12-01T00:00:00Z'}
Making request with params {'Range': '900-1049', 'minCreationDate': '2019-12-01T00:00:00Z', 'maxCreationDate': '2020-01-01T00:00:00Z'}
Making request with params {'Range': '900-1049', 'minCreationDate': '2020-01-01T00:00:00Z', 'maxCreationDate': '2020-02-01T00:00:00Z'}
Making request with params {'Range': '900-1049', 'minCreationDate': '2020-02-01T00:00:00Z', 'maxCreationDate': '2020-03-01T00:00:00Z'}
Making request with params {'Range': '900-1049', 'minCreationDate': '2020-03-01T00:00:00Z', 'maxCreationDate': '2020-04-01T00:00:00Z'}
Making request with params {'Range': '900-1049', 'minCreationDate': '2020-04-01T00:00:00Z', 'maxCreationDate': '2020-05-01T00:00:00Z'}
Making request with params {'Range': '900-1049', 'minCreationDate': '2020-05-01T00:00:00Z', 'maxCreationDate': '2020-06-01T00:00:00Z'}
Making request with params {'Range': '900-1049', 'minCreationDate': '2020-06-01T00:00:00Z', 'maxCreationDate': '2020-07-01T00:00:00Z'}
Making request with params {'Range': '900-1049', 'minCreationDate': '2020-07-01T00:00:00Z', 'maxCreationDate': '2020-08-01T00:00:00Z'}
Making request with params {'Range': '900-1049', 'minCreationDate': '2020-08-01T00:00:00Z', 'maxCreationDate': '2020-09-01T00:00:00Z'}
Making request with params {'Range': '900-1049', 'minCreationDate': '2020-09-01T00:00:00Z', 'maxCreationDate': '2020-10-01T00:00:00Z'}
Making request with params {'Range': '900-1049', 'minCreationDate': '2020-10-01T00:00:00Z', 'maxCreationDate': '2020-11-01T00:00:00Z'}

,id,intitule,description,dateCreation,typeContrat,experienceExige,salaire,nombrePostes,qualificationCode,secteurActivite,secteurActiviteLibelle
0,089ZKSJ,Orthophoniste H/F,"""Les mesures sanitaires sont mises en place po...",2019-06-27T10:57:52+02:00,CDI,D,"{'complement1': 'Mutuelle', 'complement2': 'CE...",1,6,87,Hébergement social pour handicapés mentaux et ...
1,089TQTM,Agent / Agente de location immobilière (H/F),Participation à la recherche de mandat de loca...,2019-06-21T18:32:27+02:00,CDD,D,NaN,1,6,68,NaN
2,089QKCK,Infirmier(ère) de bloc opératoire Diplômé(e) d...,infirmier/infirmière de bloc opératoire D.E.\n...,2019-06-19T14:18:36+02:00,CDD,E,"{'libelle': 'Mensuel de 1977,00 Euros à 1978,0...",1,6,86,Activités hospitalières
3,7753101,Boucher / Bouchère (H/F),""" Avec plus de 230 magasins en France les hype...",2019-06-14T07:04:08+02:00,CDD,D,NaN,1,6,47,Hypermarchés
0,9516348,Manutentionnaire (H/F),Description du poste :\nVotre agence ADEVA int...,2019-07-29T00:00:00+02:00,CDI,E,NaN,1,X,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
145,107BPQL,Ouvrier/ouvrière serrurier en atelier (H/F),Nous recherchons un ouvrier(ère) serrurier ex...,2020-10-31T08:58:43+01:00,CDI,E,{'libelle': 'Mensuel de 1800 Euros à 2000 Euro...,1,4,43,Travaux de menuiserie métallique et serrurerie
146,7009855,MÉCANICIEN AUTOMOBILE (H/F),Recherche: MÉCANICIEN AUTOMOBILE (H/F)\nAquila...,2020-10-31T08:57:56+01:00,MIS,D,NaN,1,X,78,Activités des agences de travail temporaire
147,7009397,Technico-commercial BTP (H/F),POSTE : Technico-Commercial H/F\nPROFIL : De f...,2020-10-31T08:53:33+01:00,CDI,E,{'commentaire': '28600 Annuel'},1,7,NaN,NaN
148,7009272,CARROSSIER PEINTRE (H/F),Recherche: CARROSSIER PEINTRE (H/F)\nAquila RH...,2020-10-31T08:52:27+01:00,MIS,D,NaN,1,X,78,Activités des agences de travail temporaire
149,7009172,RESPONSABLE DE PRODUCTION (H/F),Recherche: RESPONSABLE DE PRODUCTION (H/F)\nLy...,2020-10-31T08:51:27+01:00,CDI,D,NaN,1,X,NaN,NaN

# Traitement de données

In [107]:
df.drop_duplicates(subset='id',keep='first', inplace=True)
df

,id,intitule,description,dateCreation,typeContrat,experienceExige,salaire,nombrePostes,qualificationCode,secteurActivite,secteurActiviteLibelle
0,089ZKSJ,Orthophoniste H/F,"""Les mesures sanitaires sont mises en place po...",2019-06-27T10:57:52+02:00,CDI,D,"{'complement1': 'Mutuelle', 'complement2': 'CE...",1,6,87,Hébergement social pour handicapés mentaux et ...
1,089TQTM,Agent / Agente de location immobilière (H/F),Participation à la recherche de mandat de loca...,2019-06-21T18:32:27+02:00,CDD,D,NaN,1,6,68,NaN
2,089QKCK,Infirmier(ère) de bloc opératoire Diplômé(e) d...,infirmier/infirmière de bloc opératoire D.E.\n...,2019-06-19T14:18:36+02:00,CDD,E,"{'libelle': 'Mensuel de 1977,00 Euros à 1978,0...",1,6,86,Activités hospitalières
3,7753101,Boucher / Bouchère (H/F),""" Avec plus de 230 magasins en France les hype...",2019-06-14T07:04:08+02:00,CDD,D,NaN,1,6,47,Hypermarchés
0,9516348,Manutentionnaire (H/F),Description du poste :\nVotre agence ADEVA int...,2019-07-29T00:00:00+02:00,CDI,E,NaN,1,X,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
145,107BPQL,Ouvrier/ouvrière serrurier en atelier (H/F),Nous recherchons un ouvrier(ère) serrurier ex...,2020-10-31T08:58:43+01:00,CDI,E,{'libelle': 'Mensuel de 1800 Euros à 2000 Euro...,1,4,43,Travaux de menuiserie métallique et serrurerie
146,7009855,MÉCANICIEN AUTOMOBILE (H/F),Recherche: MÉCANICIEN AUTOMOBILE (H/F)\nAquila...,2020-10-31T08:57:56+01:00,MIS,D,NaN,1,X,78,Activités des agences de travail temporaire
147,7009397,Technico-commercial BTP (H/F),POSTE : Technico-Commercial H/F\nPROFIL : De f...,2020-10-31T08:53:33+01:00,CDI,E,{'commentaire': '28600 Annuel'},1,7,NaN,NaN
148,7009272,CARROSSIER PEINTRE (H/F),Recherche: CARROSSIER PEINTRE (H/F)\nAquila RH...,2020-10-31T08:52:27+01:00,MIS,D,NaN,1,X,78,Activités des agences de travail temporaire
149,7009172,RESPONSABLE DE PRODUCTION (H/F),Recherche: RESPONSABLE DE PRODUCTION (H/F)\nLy...,2020-10-31T08:51:27+01:00,CDI,D,NaN,1,X,NaN,NaN

In [108]:
salaire= (df[['salaire']]
 .dropna()
 .agg(dict(salaire=lambda x: x.get('commentaire')))
 .dropna(subset=["salaire"])
 .loc[lambda df: df.salaire.str.contains("\d+")]
 .sort_values("salaire")
)

In [109]:
salaire

                                  salaire
49      + 1/2 13ème mois selon convention
79      + 1/2 13ème mois selon convention
139                 10?44 brut de l'heure
18                 1100 net + commissions
79                          16 $CAN/heure
45               16 à 20 $CAD  de l'heure
144                    16,50? net / heure
98   1800 euros net et + selon expérience
31            1800€ nets selon expérience
35                           2000 Mensuel
21                           25000 Annuel
70                                   2600
147                          28600 Annuel
66                              35 heures
109                          85000 Annuel
20                                  CCN51
40                      CCNT de mars 1966
118      CE + mutuelle + dimanche à + 45%
122            Coef. 150  conv. transport
112                    DE 27% à 100% SMIC
111                    DE 27% à 100% SMIC
66                     De 27% à 100% SMIC
67                     De 27% à 100% SMIC
68                     De 27% à 100% SMIC
69      Intéressement CA + 10% sur ventes
27       Prime, 13ème mois, Intéressement
47                     SALAIRE NET 1400 €
92                            SELON CCN66
1       Salaire net entre 1500-2000 euros
99                    Salaire selon CCN51
90                         Selon CCN 1966
18         Selon CCN 1966 et selon profil
24                           Selon CCN 66
147                           Selon CCN66
143  de 1600 à 1800 net selon compétences
69                     de 27% à 100% SMIC
44        de 27% à 100% du smic selon âge
43        de 27% à 100% du smic selon âge
93     fixe + Commissions/CA  50K€ à 70K€
78             panier 6,50 euros par jour
48        prime de nuit 14,50 + assiduité
21                          selon CC 1966
88               selon CC du 15 mars 1966
86               selon CC du 15 mars 1966
89               selon CC du 15 mars 1966
63                             selon CC66
107                          selon CCN 51
97                    selon convention 66
42     selon grille/13 mois/avantages....
14   vacation taux horaire  50 euros/brut

In [37]:
salaire['salaire'][79]

79    + 1/2 13ème mois selon convention
79    + 1/2 13ème mois selon convention
79    + 1/2 13ème mois selon convention
79    + 1/2 13ème mois selon convention
79    + 1/2 13ème mois selon convention
79    + 1/2 13ème mois selon convention
79                        16 $CAN/heure
79                        16 $CAN/heure
79                        16 $CAN/heure
79                        16 $CAN/heure
79                        16 $CAN/heure
79                        16 $CAN/heure
Name: salaire, dtype: object